@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --primary: #26A8DD;
  --secondary: #EC5251;
  --black: #00284B;
  --background: #F7F6F4;
  --white: #ffffff;
  --body-font-size: 15px;
  --body-font-weight: 400;
  --body-line-height: 1.8em;
  --transision: all 0.3s ease-out 0s;
  --border: #ddd;
  --paragraph: #5a5a5a;
}

body{
  @apply text-black
}

